@{
    ViewData["Title"] = "Изменить учредителя";
}
@model Founder
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post" action="/Founder/Update">
                <input type="text" hidden value="@Model.Id" name="Id" />
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div>
                    <input type="text" class="form-control" placeholder="ИНН" asp-for="Inn" value="@Model.Inn" /><br />
                    <span asp-validation-for="Inn"></span>
                </div>
                <div>
                    <input type="text" class="form-control" placeholder="Имя" asp-for="Name" value="@Model.Name" /><br />
                    <span asp-validation-for="Name"></span>
                </div>
                <div>
                    <input type="text" class="form-control" placeholder="Фамилия" asp-for="Syrname" value="@Model.Syrname" /><br />
                    <span asp-validation-for="Syrname"></span>
                </div>
                <div>
                    <input type="text" class="form-control" placeholder="Отчество" asp-for="Patronymic" value="@Model.Patronymic" /><br />
                    <span asp-validation-for="Patronymic"></span>
                </div>
                <input type="submit" value="Сохранить" class="btn btn-primary my-sm-2" />
                <a asp-action="Index" class="btn btn-primary">Отмена</a>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}